<!DOCTYPE html>
<html lang="en" xmlnx:th="http://www.thymelaef.org" xmlns:xmlnx="http://www.w3.org/1999/xhtml" th:replace="base::layout(~{::section})" >
<head>
    <meta charset="UTF-8">
    <title>This is Add book page</title>
</head>
<body >
 <section>
    <div class="container" >
        <div class="row">
            <div class="col-md-6 offset-md-2">
                <div class="my-card mt-2" >
                    <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                        <p  class="text-center" th:text="${session.message.content}"></p>
                        <th:block th:text="${@sessionHelper.removeMessageFromsession()}"></th:block>                        
                    </div>
                    <h1 class="text-center reg">Add New Book</h1>
                    <form  novalidate action="" th:action="@{/save_book}" method="post" th:object="${book}">
                        <div class="form-group" >
                            <label for="btitle_field" >Title<span class="required-field"></span></label>
                            <input type="text" name="btitle" th:value="${book.btitle}" class="form-control" 
                            th:classappend= "${#fields.hasErrors('btitle') ? 'is-invalid':''}" 
                            id="btitle_field" aria-describedby="nameHelp" placeholder="Enter title" required>
                        </div>
                        <div class="text-danger" th:each="e : ${#fields.errors('btitle')}" th:text="${e}">
                        </div>
                        <div class="form-group">
                            <label for="author_field" >Author<span class="required-field"></span></label>
                            <input type="text" name="author" th:value="${book.author}" class="form-control" 
                            th:classappend= "${#fields.hasErrors('author') ? 'is-invalid':''}"
                            id="author_field" placeholder="Enter author name" required>
                        </div>
                        <div class="text-danger" th:each="e : ${#fields.errors('author')}" th:text="${e}">
                        </div>
                        <div class="form-group">
                            <label for="isbn_field" >ISBN No.<span class="required-field"></span></label>
                            <input type="number" name="isbn" th:value="${book.isbn}" class="form-control" 
                            th:classappend= "${#fields.hasErrors('isbn') ? 'is-invalid':''}"
                            id="isbn_field" placeholder="Enter isbn no." required>
                        </div>
                        <div class="text-danger" th:each="e : ${#fields.errors('isbn')}" th:text="${e}">
                        </div>
                        <div class="form-group">
                            <label for="genre_field" >Genre<span class="required-field"></span></label>
                            <input type="text" name="genre" th:value="${book.genre}" class="form-control" 
                            id="genre_field" placeholder="Enter genre " required>
                        </div>
                        <div class="form-group">
                            <label for="pub_year_field" >Publication year<span class="required-field"></span></label>
                            <input type="number" name="pub_year" th:value="${book.pub_year}" class="form-control" 
                            th:classappend= "${#fields.hasErrors('pub_year') ? 'is-invalid':''}"
                            id="pub_year_field" placeholder="Enter Publication year" required>
                        </div>
                        <div class="text-danger" th:each="e : ${#fields.errors('pub_year')}" th:text="${e}">
                        </div>
                        <div class="form-group">
                            <label for="department_field" >Department<span class="required-field"></span></label>
                            <input type="text" name="department.name"  th:value="${book.department}" class="form-control" 
                            id="department_field" placeholder="Enter Department" required>
                        </div>
                        <label> </label>
                        <div class="container-text-center">
                                <button type="submit"  style="background-color: #1B4771" class="btn btn-primary">Add book</button>
                                <button type="reset"  style="background-color: #256FB6" class="btn btn-info">Reset</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

</section> 

</body>
</html>